# =========================
# Python
# =========================

.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# =========================
# Environment
# =========================

.env
.env.*

!.env.example

# =========================
# Data
# =========================

data/raw/
data/processed/
data/features/

# =========================
# Machine Learning
# =========================

ml/models/
*.pkl
*.joblib

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Node / Angular
# =========================

node_modules/
dist/
.angular/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log